h1, h2 {
  color:#FF7171;
}

img {
  background-color:#1d3557 ;
}
button, input[type="submit"],input[type="reset"] {
  color:black;
  background-color:#F0E4D7;
  font-family:inherit;
  margin-inline: 10px;
  border: #a8dadc;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  
}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
  color:#F0E4D7;
  background-color: #FF7171;    

}
body {
  background-color: #1d3557;
  font-family: "Arial",serif,monospace;
  font-size: 15px;
  font-weight: 600;
  color: #f1faee;
  letter-spacing: 0.5px;
  
}
input, textarea {
  margin-inline:10px;
  background-color: #a8dadc;
  border-radius: 8px;
}
a {
  color:#FF7171;
}
hr {
  background-color: #a8dadc;
}
.contactbutton {
  margin:2px;
}
a:hover {
  color:#a8dadc;
}